.hidden {
  display: none;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.status-label {
  padding:0px 5px 0px 5px;
}

.thin-text {
  font-weight:300;
}

.small-cap-label {
  font-variant:small-caps;
}

.small-bold-label {
  font-size:12px;
  font-weight:500;
}

.footnote {
  font-family: Arial;
  font-size: 16px;
}

.paragraph-heading {
  font-weight: 800;
  font-variant:small-caps;
  font-size: 22px
}

.control {
  margin-left: 90px;
  .selected-topic-term {
    border-top:2px solid #eee;
    border-bottom:1px solid #eee;
    font-size: 13px;
    padding:3px;
  }
  .selected-topic-term:hover {
    background-color: #ccc; 
  }
  .selected-topic-term.dark {
    background-color: #eee;  
  }
  .selected-topic-term.dark:hover {
    background-color: #ccc; 
  }
}

.list-group {
  border-radius: 5px;
}

.list-group-item-flex {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  width: 33%;
  font-family: Roboto;
  &.active {
    background-color: #337ab7;
    color: #fff;
  }
}