.segment-text-highlight {
  fill: #4682b4;
  font-weight: 600;
}

.segment-link-highlight {
  stroke: #4682b4;
}

.segment-wrapper {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.segment-background {
  fill-opacity: 0.25; 
}

.segment-out-focus {
  fill-opacity: 0.05;
  stroke-opacity: 0.05;
  .segment-background {
    fill-opacity: 0.05; 
  }
}